body{
  background: #f1f1f1;
  color: #333;
  font-family: monospace;
}
.send-meta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1em;
}
button{
  font-size: 16px;
  border: 1px solid #333;
  background: #f8f8f8;
  padding: 0.4em 0.8em;
  color: #333;
  margin: 1em 0;
  font-family: monospace;
}
label{
  margin: 2em 0.5em 0.5em;
}
select, input{
  width: 100%;
  padding: 0.4em;
}
